/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal!important;
}

.wy-table-responsive {
    margin-bottom: 24px!important;
    max-width: 100%!important;
    overflow: visible!important;
}

/* Content section width change */
.wy-nav-content {
    max-width: 1200px!important;
}


/* Update sidebar's top panel */
.wy-side-nav-search {
    background-color: #343131!important;
}

.wy-side-nav-search .header-link {
    display: block!important;
}

.wy-side-nav-search .header-image {
    display: inline-block!important;
    border-radius: 0!important;
    background-color: transparent!important;
    margin-bottom: 7px!important;
    margin-right: 6px!important;
}

.wy-side-nav-search .header-text {
    font-size: 24px!important;
}

/*General theme*/
a {
    color: #3D9E75!important;
}

a:visited {
    color: #8FA59B!important;
}

/*li a {
    color: inherit!important;
}*/

.wy-side-nav-search a, .wy-side-nav-search a:visited{
    color: #fff!important;
}

.wy-menu-vertical li.current a {
    color: gray!important;
}


.wy-menu-vertical li.current>a {
    color: #404040!important;
}


/*footer fix*/
span.commit {
    display: none;
}

/*background fix*/
.wy-nav-content-wrap {
    background: rgb(252, 252, 252)!important;
}


span.fa-arrow-circle-left, span.fa-arrow-circle-right {
    display: none!important;
}

a.btn-neutral, a.btn-neutral:visited, a.btn-neutral:active {
    background-color: #3E936C!important;
    color: #fff!important;
    box-shadow: none!important;
}

a.btn-neutral:hover {
    background-color: #fff!important;
    color: #3E936C!important;
    border-color: #3E936C!important;
    box-shadow: none!important;
}
